* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
}

@media (max-width: 768px){
    .container {
        flex-direction: column;
        padding: 0 15px;
    }
    .content, .picture {
        width: 100%;
    }
}

.heading {
    text-align: center;
    background-color: #1a202c;
    padding: 50px 0; 
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #007BFF, #00BCD4); /* Gradient effect */
}

.heading h2:hover {
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2); /* Soft glow effect */
}

.container {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    background-color: #1a202c;
    padding: 15px 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
}

nav a:active {
    background-color: #0056b3; /* Darker background when clicked */
}

.picture {
    width: 500px; /* Set width of the circle */
    height:500px; /* Set height of the circle */
    border-radius: 50%; /* Makes the div circular */
    overflow: hidden; /* Ensures the image doesn't overflow the circle */
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.content {
    flex: 1;
    padding-right: 20px; 
    background-color: #f8f9fa; 
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-left: 5px solid #007BFF; 
}

.content h3 {
    color: #1a202c;
    font-size: 24px;
    border-bottom: 2px solid #007BFF; 
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.content p {
    font-size: 16px;
    line-height: 1.6; 
    color: #333;
}

.content ul {
    margin-top: 10px;
    padding-left: 20px;
}

.content li {
    font-size: 16px;
    line-height: 1.5;
    color: #444;
    padding-left: 10px;
    position: relative;
    list-style: none;
}


.content li::before {
    content: "✔"; 
    color: #007BFF;
    font-weight: bold;
    position: absolute;
    left: -20px;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.github {
    display: flex;
    align-items: center;
    gap: 10px;
}

.github img {
    width: 25px;
    height: 25px;
}

.linkedin {
    display: flex;
    align-items: center;
    gap: 10px;
}

.linkedin img {
    width: 25px;
    height: 25px;
}